

#Finish{
    background-color: Teal;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: serif;
    color: black;
    margin-left: 300px;
    visibility: hidden;

}
#Finish a {
    text-decoration: none;
    background-color: black;
}