body{
    font-family: 'Lato',sans-serif;
    background-image: url(../img/doct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 450px;
    margin: auto;
    padding-top: 200px;
}

#quiz {
	margin-left: 10px;
	background: #d2def2;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: left;

}
.display{

    display: flex;
    flex-direction: row;
}



#after_submit {
  
	visibility: hidden;
	 padding-top: 20px;
    padding-left: 40px;
	width: 300px;
    border-radius: 20px;
    height: 200px;
}

#picture{
    height: 100px;
    text-align: center;
}

#box{
    display: inline;
}

.questions{
    background-color: azure;
    width: 450px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: serif;
    font-size: 18px;
    
}
input {
	margin-bottom: 20px;

}




#button{
    background-color: Teal;
   
    font-size: 18px;
    width: 160px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: serif;
    color: black;
    text-align: center;
    padding-top: 3px;
    margin-top: 17px;
}

#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}
#continue{
    background-color: Teal;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-family: serif;
    color: black;
    margin-left: 300px;
    visibility: hidden;
   
}